*{
  margin: 0px;
  padding: 0px;
}
body{
  background: #141414;
  color: white;
}
.sectionwrapper{
padding: 1em;
}
.sectionitemwrapper{
display: flex;
width: 100%;
overflow: hidden;
overflow-x: scroll;
}
.sectionitem{
margin: 8px;
}
.sectionitem > img{
width: 160px;
}
.sectionitemwrapper::-webkit-scrollbar {
  display: none;
}
.citemimage{
  width: 70%;
  margin: 0px auto;
  margin-top: 1em;
}